<header>
    <nav class="nav">
        <p id="nombre">{{titulo}}</p>
        <ul class="lista-nav">
            <li class="item-nav"><a routerLink='inicio' href="#"> <i class="far fa-address-card"></i>Inicio</a></li>
            <li class="item-nav"><a routerLink='educacion' href="#"><i class="fas fa-server"></i>Educación</a></li>
            <li class="item-nav"><a routerLink='experiencia' href="#"><i class="fas fa-images"></i>Experiencia Laboral</a></li>
            <li class="item-nav"><a routerLink='cursos' href="#"><i class="fas fa-images"></i>Cursos Realizados</a></li>
        </ul>
    </nav>
</header>
